// Import stratagem animation lib
@import 'stratagem';

// Import Bourbon mixin lib
@import 'bourbon';

// Import our variables, mixins & helpers
@import 'utils/variables', 'utils/mixins', 'utils/helpers';

// Neat should be imported after variable, reset and mixin declaration.
@import 'neat';

// Import neat helpers - this gives us visual grid which can be useful, also
// gives us media mixin which is useful when making responsive layouts.
@import 'neat-helpers';

// Import normalize
@import 'normalize';

// Import base styling
@import 'base/base', 'base/typography';

// Import layout
// @import 'layout/**/*';

// Import components
// @import 'components/**/*';

// Import content
// @import 'content/**/*';

@import 'stratagem-two';
